stages:
  - build
  - test

variables:
  DOCKER_DRIVER: overlay2

build_backend:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - cd backend
    - docker build -t resto-backend .
  only:
    - main

build_frontend:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - cd frontend
    - docker build -t resto-frontend .
  only:
    - main

test_compose:
  stage: test
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - apk add --no-cache docker-compose
  script:
    - docker-compose --version
    - docker-compose config
  only:
    - main